{% extends 'base.html' %} 

{% block head %} 
{% endblock %}

{% block body %} 
<div style="text-align: center; padding-top:35px;" padding-top: 75px;  >
    <h1 >Blog App</h1>
    <h3>There will be some contents</h3>
    <form action="" method="POST">
        <a id="giris" value="Sign in" href="/login">Log in</a><br><br>
        <a id="giris2" value="Sign up" href="/register">Register</a><br><br>
        <a id="giris2" value="Sign up" href="/">Home</a><br><br>
    </form>
</div>
{% endblock %}

